# Don't track content of these folders
.spyproject/

# __pycache__
*pycache*/
*.pyc


# VTU and VTK #
###############
*.vtk
*.vtu
*.pvd

# Compiled source #
###################
*.ods#

# Compressed Files #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
